#animation {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s linear;
}

#animation.show {
    /* display: none; */
    opacity: 1;
    transition: opacity 0.5s linear;
    /* height: 0; */
}

#animation.removed {
    height: 0;
}

.yellow {
    color: #f60;
}

.button.nav {
    position: fixed;
    margin: 0.5em;
    top: 0;
    z-index: 100;
}
/*
.thumb-card {
    
}*/

.main-card {
    margin-top: 3.5em;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#boulder {
    position: relative;

    margin: auto;
}

.hold {
    border: 3px red solid;
    border-radius: 50%;
    position: absolute;
    width: 4vw;
    height: 4vw;

    left: 0px;
    top: 0px;
}

.thumb-card .hold {
    margin-left: 12px;
    margin-top: 12px;
    width: 5px;
    height: 5px;
}
/*
.main-card .hold {

}
*/
.main-card .thumb-only {
    display: none;
}

.thumb-card .main-only {
    display: none;
}

.thumb-tag-difficulty {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.columns {
    margin-left: 0!important;
    margin-right: 0!important;
}

/*
    NAVIGATION
 */

#IndexNavContainer {
    height: 3.5em;
}

#NavigationBackButton,#NavigationMenuButton {
    position: fixed;
    margin: .5em;
}

nav h1 {
    position: absolute;
    line-height: 1.75em;
    margin-left: 2.5em;
    font-size: 1.85em;
}